// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MARKETING_VERSION = 0.6.3
CURRENT_PROJECT_VERSION = 0603

// Vars to be overwritten by `CodeSigning.xcconfig` if exists
DEVELOPMENT_TEAM = S32Z3HMYVQ
ORG_IDENTIFIER = com.SideStore

// Codesigning settings defined optionally, see `CodeSigning.xcconfig.example`
#include? "CodeSigning.xcconfig"

ORG_PREFIX = $(ORG_IDENTIFIER)

PRODUCT_NAME = SideStore
//PRODUCT_NAME[configuration=Debug] = Prov Debug


//PRODUCT_BUNDLE_IDENTIFIER[config=Debug]   =  $(ORG_PREFIX).SideStore$(BUNDLE_ID_SUFFIX)
//PRODUCT_BUNDLE_IDENTIFIER[config=Release] =  $(ORG_PREFIX).SideStore
// preserve unmodified bundle ID (without any extra suffixes)
GROUP_ID = $(ORG_PREFIX).SideStore$(BUNDLE_ID_SUFFIX)
PRODUCT_BUNDLE_IDENTIFIER = $(GROUP_ID)

EXTENSION_PREFIX            = $(PRODUCT_BUNDLE_IDENTIFIER)
APP_GROUP_IDENTIFIER        = $(GROUP_ID)
ICLOUD_CONTAINER_IDENTIFIER = iCloud.$(ORG_PREFIX).$(PROJECT_NAME)

// Suppress noise from os activity in xcode console log for release builds
DEBUG_ACTIVITY_MODE = disable

// Mute warnings about duplicate classes in AuthKit and AuthUIKit
DEBUG_DUPLICATE_CLASSES = NO
